
.buttons-list-container{
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

.user-details-main-heading-2 {
  text-align: center;
}

.form-register-headings {
  padding: 10px;
  width: 50%;
}

.input-namefield-2 {
  display: flex;
  align-items: center;
  flex-direction: row;

}

.form-container {
  padding: 20px;
}

.button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
  }
  
  .button-24:hover,
  .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }